{
  "env": {
    "es2017": true,
    "jest/globals": true
  },
  "extends": [
    "standard",
    "eslint:recommended",
    "plugin:jest/recommended"
  ],
  "globals": {
    "PLAYERS": true,
    "ROOT_DIR": true,
    "TIMEOUT": true,
    "YQUI_URL": true,
    "browser": true,
    "console": true,
    "p0": true,
    "p1": true,
    "p2": true,
    "p3": true,
    "p4": true,
    "pages": true,
    "process": true,
    "puppeteer": true,
    "require": true
  },
  "plugins": [
    "jest"
  ]
}
