.subactions {
  padding: 8px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;

  &.subactions-alert {
    background-color: #ffcdd2;
  }

  .content {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .subactions-rule {
    flex-direction: column;
    align-items: flex-start;
  }

  .subactions-actions {
    justify-content: flex-end;
  }
}
