.rule-display {
  padding: 5px;

  .MuiTypography-caption {
    text-decoration: underline;
  }

  .rule-title {
    font-size: 0.95em;
    font-weight: bold;
  }

  .rule-element {
    margin-left: 0.3em;
  }

  .rule-above {
    font-size: 0.75em;
  }
}
