.actions {
  padding: 16px;
  grid-column: 2/3;
  grid-row: 4/6;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .MuiButtonBase-root {
    margin: 10px;
  }
}
