.actions {
  padding: 16px;
  display: grid;
  grid-template: auto/auto;

  .actions-content {
    grid-row: 1/2;
    grid-column: 1/2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .MuiButtonBase-root {
      margin: 10px;
    }
  }
}
