.rule {
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-template-columns: auto;
  grid-gap: 12px;

  .MuiInputBase-root {
    width: 70px;
  }

  .MuiSelect-root {
    padding-top: 7px;
  }
}
