.rule {
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-template-columns: auto;
  grid-gap: 12px;

  .rule-group {
    margin-bottom: 15px;
  }

  .MuiInputBase-root {
    width: 90px;

    &.wide-select {
      width: 10em;
    }
  }

  .tab-panel {
    height: 22em;
    padding: 1.5em;
  }
}
