.subactions {
  .subactions-content.master-subactions {
    display: flex;

    .menu-select {
      width: 5em;
    }

    .content {
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: center;

      &.normal {
        .win-lose, .show-point {
          margin-left: 20px;
        }
      }

      &.board {
        .MuiButtonBase-root:not(:first-child) {
          margin-left: 20px;
        }
      }
    }
  }
}
