.subactions {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;

  .subactions-content {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;

    &.hidden {
      visibility: hidden;
    }

    .timer {
      display: flex;
      align-items: center;
      justify-content: center;

      .timer-remaining {
        font-family: 'DSEG7Classic';
        margin-left: 5px;
        color: #424242;

        &.running {
          color: #c62828;
        }
      }
    }

    .MuiButtonBase-root:not(.MuiIconButton-root):not(:first-child) {
      margin-left: 5px;
    }

    .MuiFormControlLabel-label {
      margin-left: -5px;
    }
  }
}
