.group.timer {
  display: flex;
  align-items: center;
  justify-content: center;

  .timer-remaining {
    font-family: 'DSEG7Classic';
    margin-left: 5px;
    color: #424242;

    &.running {
      color: #c62828;
    }
  }
}
