.rooms {
  .rooms-table {
    margin-left: 2em;
    max-width: 38em;

    .enter-room {
      width: 5em;
      text-align: center;
    }

    .room-name {
      width: 4em;
      text-align: center;
    }

    .num-users {
      width: 3em;
      text-align: center;
    }

    th, td {
      overflow: hidden;
      white-space: nowrap;
    }
  }

  &.mobile {
    .rooms-table {
      margin-left: 0px;
    }
  }

  .copyright {
    padding: 10px;
  }
}
