.rooms {
  .main {
    display: flex;

    .left {
      width: 50%;
      padding: 0 20px;
      
      .rooms-table {
        .enter-room {
          width: 4.8em;
          text-align: center;
        }

        .room-name {
          width: 4em;
          text-align: center;
        }

        .num-users {
          width: 2.5em;
          text-align: center;
        }

        .room-title {
          .content {
            display: flex;
          }
        }

        th, td {
          overflow: hidden;
          white-space: nowrap;
        }
      }
    }

    .right {
      width: 50%;
    }
  }

  &.mobile {
    .main {
      display: block;

      .left {
        width: 100%;
        padding: 0px;

        .rooms-table {
          margin-left: 0px;
        }
      }

      .right {
        width: 100%;
      }
    }
  }
}
