.messages {
  padding: 8px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;

  .message:first-child {
    margin-top: auto;
  }

  .message {
    overflow-wrap: anywhere;

    &:not(:last-child) {
      margin-bottom: 8px;
    }

    .message-content {
      word-break: break-all;

      .message-normal {
        color: #212121;
      }

      .message-system {
        color: #2979ff;
      }

      .user-name {
        font-weight: bold;
        color: #33691e;
      }

      .carret {
        color: #9e9e9e;
      }

      .chat-time {
        font-size: small;
        color: #9e9e9e;
        margin-left: 3px;
      }
    }
  }
}
