.messages {
  padding: 8px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;

  .message:first-child {
    margin-top: auto;
  }

  .message {
    overflow-wrap: anywhere;

    &:not(:last-child) {
      margin-bottom: 8px;
    }

    .message-normal {
      color: #212121;
    }

    .message-system {
      color: #2979ff;
    }

    .user-name {
      color: #33691e;
    }
  }
}
