.rule {
  .MuiTab-root {
    min-width: 160px;
  }

  .rule-group {
    margin-bottom: 15px;
  }

  .MuiInputBase-root {
    width: 90px;

    &.wide-select {
      width: 10em;
    }
  }

  .tab-panel {
    height: 23em;
    padding: 1.5em;
  }
}
