.rule {
  .MuiTab-root {
    min-width: 100px;
  }

  .rule-group {
    margin-bottom: 15px;
  }

  .MuiFormGroup-row {
    align-items: flex-end;
  }

  .MuiInputBase-root {
    width: 65px;

    &.wide-select {
      width: 11em;
    }
  }

  .tab-panel {
    height: 23em;
    padding: 1em;
  }

  .special-correct-button,
  .special-wrong-button,
  .comprehensive-button {
    margin-left: 10px;
  }
}

.special-rule {
  margin: 15px;

  .MuiInputBase-root {
    width: 65px;
  }
}
