.board {
  .board-text {
    padding: 3px;
    font-size: 0.80em;
    border: solid 3px #546e7a;
    border-radius: 5px;
    height: 9ex;
    word-break: break-all;
    overflow-wrap: break-word;
    cursor: default;
    display: flex;
    align-items: center;
    justify-content: center;

    &.master {
      &.correct {
        background-color: #ffcdd2;
      }
      &.wrong {
        background-color: #bbdefb;
      }
    }

    &.open {
      border-color: #fdd835;
      &.correct {
        color: white;
        background-color: #c62828;
      }
      &.wrong {
        color: white;
        background-color: #1565c0;
      }
    }
  }

  .board-buttons {
    margin-top: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
