.player-name {
  border-bottom: solid 1px #656565;
  display: flex;
  flex-direction: column;

  .content {
    display: flex;
    justify-content: center;

    &.pushed {
      background-color: #ffab91;
    }

    &.self {
      font-weight: 700;
    }

    .MuiIcon-root {
      width: 1.2em;
      height: 1.2em;
    }
  }
}
