.player-container {
  margin: 8px;

  .player {
    width: 120px;
    padding: 3px;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto;

    &.right {
      background-color: #ffe0b2;
    }

    .player-name {
      grid-column: 1/2;
      grid-row: 1/2;
    }

    .player-point {
      grid-column: 1/2;
      grid-row: 2/3;
    }

    .player-status {
      grid-column: 1/2;
      grid-row: 2/3;
    }
  }
}
