.player-above {
  width: 120px;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto 1fr auto;

  .push-order {
    grid-row: 1/2;
    grid-column: 1/2;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;

    &.pushed {
      background-color: #ffccbc;
    }

    .push-order-content {
      font-family: 'Odibee Sans';
      font-size: 14px;
      color: #bdbdbd;

      &.has-right {
        color: black;
      }
    }
  }

  .push-speed {
    grid-row: 1/2;
    grid-column: 2/3;
    margin-left: 3px;
    display: flex;
    align-items: flex-end;
    color: #bdbdbd;
  }

  .cons {
    grid-row: 1/2;
    grid-column: 3/4;
    display: flex;
    align-items: flex-end;
    color: #f9a825;
  }
}
