.player-name {
  border-bottom: solid 1px #656565;
  display: flex;
  flex-direction: column;

  .player-name-content {
    display: flex;
    justify-content: center;

    &.pushed {
      background-color: #ffab91;
    }

    .player-name-content-main {
      font-size: 0.75em;

      &.self {
        font-weight: 700;
      }

      .chat-mark {
        color: blue;
      }
    }
  }
}
