.teams {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;

  .team {
    border: solid 1px #b0bec5;
    border-radius: 5px;
    margin: 3px;
  }
}
