.room-info {
  padding: 5px;
  display: flex;

  .info-block {
    width: 4em;

    &:first-child {
      flex-grow: 1;
    }

    &:not(:first-child) {
      text-align: right;
    }
  }

  .info-title {
    font-size: 0.95em;
    font-weight: bold;
  }
  
  .info-element {
    margin-left: 0.3em;
  }
}
