.player-point {
  grid-column: 1/2;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 60% 40%;
  width: 128px;
  height: 48px;

  .content {
    opacity: 0.3;

    &.show-point {
      opacity: 1;
    }
  }

  .point {
    grid-column: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8bc34a;

    .content {
      font-family: 'Krona One';
      font-size: 32px;
      transform: scaleX(0.9);
    }
  }

  .batsu {
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f44336;

    .content {
      font-family: 'Krona One';
      font-size: 24px;
      transform: scaleX(0.9);
    }
  }

  .comp-point {
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3f51b5;

    .content {
      font-family: 'Krona One';
      font-size: 32px;
      transform: scaleX(0.7);
    }
  }

  &.comp {
    grid-template-columns: 28% 44% 28%;

    .point {
      grid-column: 1/2;

      .content {
        font-size: 24px;
        transform: scaleX(0.7);
      }
    }

    .batsu {
      grid-column: 3/4;

      .content {
        font-size: 24px;
        transform: scaleX(0.7);
      }
    }
  }
}
