.teams {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;

  .team {
    margin: 3px;

    &.multi-team {
      border: solid 1px #b0bec5;
      border-radius: 5px;
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: 135px 1fr;

      .team-point {
        padding: 3px;
        grid-row: 1/2;
        grid-column: 1/2;
        border: solid 1px #b0bec5;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
      }
    }
  }
}
