.teams {
  height: 100%;

  .teams-flip {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: wrap;

    .team-container {
      margin-top: auto;
      margin-bottom: auto;
    }
  }
}
