.MuiFormControl-root.team-edit-group {
  margin: 3px;
  min-width: 172px;
  border: solid 1px #b0bec5;
  border-radius: 5px;

  .content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}
