.messages {
  padding: 8px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;

  .message:first-child {
    margin-top: auto;
  }

  .message {
    margin-bottom: 8px;
    overflow-wrap: anywhere;

    .message-system {
      color: #2979ff;
    }
  }
}
