.messages {
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow-y: hidden;

  .message {
    margin-bottom: 8px;

    .message-system {
      color: #2979ff;
    }
  }
}
