.mix-display {
  padding: 8px;
  grid-column: 2/3;
  grid-row: 3/4;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;

  &.warning {
    background-color: #ffcdd2;
  }

  .mix-rule {
    grid-column: 1/2;
    grid-row: 1/2;
    visibility: hidden;

    &.active {
      visibility: visible;
    }
  }

  .mix-actions {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    visibility: hidden;

    &.active {
      visibility: visible;
    }
  }

  .mix-multi-chance {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;

    &.active {
      visibility: visible;
    }
  }
}
