.page {
  height: 100vh;
  max-height: 100vh;
  background-color: #e0e0e0;
  display: grid;
  grid-template-rows: auto 1fr 72px auto auto;
  grid-template-columns: 25% 1fr;
  grid-gap: 5px;

  .top-bar {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  .messages {
    grid-column: 1/2;
    grid-row: 2/5;
  }

  .chat {
    grid-column: 1/2;
    grid-row: 5/6;
  }

  .mainarea {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .subactions {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  .actions {
    grid-column: 2/3;
    grid-row: 4/6;
  }
}
