.player-container {
  margin: 8px;

  .answer-order {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;

    .content {
      font-family: 'Odibee Sans';
      font-size: 20px;
      color: #bdbdbd;

      &.has-right {
        color: black;
      }
    }
  }

  .player {
    width: 150px;
    padding: 5px;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 35px 1fr 35px;

    &.right {
      background-color: #ffe0b2;
    }

    .player-name {
      grid-column: 1/4;
      grid-row: 1/2;
      border-bottom: solid 1px #656565;

      .content.self {
        font-weight: 700;
      }
    }

    .correct {
      grid-column: 2/3;
      grid-row: 2/3;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #8bc34a;

      .content {
        font-family: 'Krona One';
        font-size: 44px;
      }
    }

    .wrong {
      grid-column: 3/4;
      grid-row: 2/3;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #f44336;

      .content {
        font-family: 'Krona One';
        font-size: 32px;
      }
    }

    .player-status {
      visibility: hidden;
      grid-column: 1/4;
      grid-row: 2/3;
      opacity: 0.5;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #e0e0e0;

      &.win, &.lose, &.lock {
        visibility: visible;
      }

      &.win {
        background-color: #81d4fa;
      }

      &.lose {
        background-color: #ef9a9a;
      }

      &.lock {
        background-color: #e0e0e0;
      }

      .content {
        font-family: 'Trade Winds';
        font-size: 32px;
      }
    }
  }
}
