.room {
  height: 100vh;
  max-height: 100vh;
  background-color: #e0e0e0;
  display: grid;
  grid-template-rows: auto 1fr 72px auto auto auto;
  grid-template-columns: 25% 1fr;
  grid-gap: 5px;
  min-height: 0;
  min-width: 0;

  .top-bar {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  .messages {
    grid-column: 1/2;
    grid-row: 2/6;
  }

  .chat {
    grid-column: 1/2;
    grid-row: 6/7;
  }

  .mainarea {
    grid-column: 2/3;
    grid-row: 2/4;
    overflow: hidden;
    min-width: 0;

    &.board-available {
      grid-row: 2/3;
    }
  }

  .subactions {
    grid-column: 2/3;
    grid-row: 4/5;

    &.board-available {
      grid-row: 3/4;
    }
  }

  .board {
    grid-column: 2/3;
    grid-row: 4/5;
  }

  .actions {
    grid-column: 2/3;
    grid-row: 5/7;
  }
}
