{
  "extends": "eslint:recommended",
  "globals": {
    "console": true,
    "document": true,
    "localStorage": true,
    "navigator": true,
    "WebSocket": true,
    "window": true,
    "XMLHttpRequest": true
  },
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    },
    "ecmaVersion": 2015,
    "sourceType": "module"
  },
  "rules": {
    "no-unused-vars": [
      2,
      { "argsIgnorePattern": "^_" }
    ],
    "react/jsx-uses-react": [1],
    "react/jsx-uses-vars": 1
  }
}
